= simple_form_for call, url: url do |f|

  .form-group
    %label Причина звонка
    %input.form-control{type: :text, name: 'call[reason]', value: call.reason, placeholder: 'Причина звонка'}

  .form-group
    %label Дата
    %input.form-control.call-date{type: :date_string, name: :date, 'data-behaviour' => 'datepicker', placeholder: 'Дата звонка'}

  .form-group
    = f.input :date, as: :time

  .form-group
    %label Комментарий
    %textarea.form-control{name: 'call[comment]'}

  = f.input :client_id, as: :hidden

  %button.btn.btn-success{type: :submit}
    Готово
