
= simple_form_for client, url: url do |f|

  - unless client.id?
    .form-group
      %label
        Статус
      %select.form-control{name: 'client[status]'}
        - Client.statuses_for_select do |status, code|
          %option{value: status}
            = Client.statuses_for_select[code][0]

  .form-group
    %label
      Имя клиента
    %input.form-control{type: :text, name: 'client[name]', value: client.name, placeholder: 'Имя клиента'}
  .form-group
    %label
      Номер телефона клиента
    .input-group
      %span.input-group-addon +7
      %input.form-control{type: :text, name: 'client[phone]', value: client.phone, placeholder: 'Номер телефона'}

  .form-group
    %label
      Номерные знаки
    %input.form-control{type: :text, name: 'client[number]', value: client.number, placeholder: 'Номерные знаки'}
  %button.btn.btn-success{type: :submit}
    Готово